
#content{
	float:left;
	max-width:750px;
}

#sidebar{
	float:right;
}

/* sidebar boxes */
#userinfo, #rememberedCatalogs{
	border-top:10px solid #004477;
	padding:0.3em;
	background:#d5e2ec;
	margin-bottom:0.5em;
}

#userinfo h3, #rememberedCatalogs h3{
	margin:0;
}

/* forms */

form input, form textarea, form select{
	float:right;
	clear:right;
	margin-left:0.2em;
	margin-bottom:0.2em;
}

form label{
	float:left;
	margin-top:0.2em;
}

form li{
	height:1.7em;
	list-style-type:none;
	clear:right;
}

form ul{
	padding:0;
}

form span.form_error{
	display:block; 
	color:red;
	text-align:right; 
	width:100%;
}

/* tables */
table{
	border-spacing:0;
}

thead{
	background:#bbccff;
}

tr.even{
	background:#eeeeff;
}

td{
	padding:0.2em 0.4em;
}